.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ffffff;
  font-style: normal;
  transition: 0.3s;
  font-family: Tajawal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink:hover {
  box-shadow: 5px 5px 25px 2px rgba(119, 11, 119, 0.39);
}
.navigation-links-text {
  color: #ffffff;
  font-style: normal;
  transition: 0.3s;
  font-family: Tajawal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text:hover {
  box-shadow: 5px 5px 25px 2px rgba(119, 11, 119, 0.39);
}
.navigation-links-navlink1 {
  color: #ffffff;
  font-style: normal;
  transition: 0.3s;
  font-family: Tajawal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  box-shadow: 5px 5px 25px 2px rgba(119, 11, 119, 0.39);
}
.navigation-links-text1 {
  color: #ffffff;
  font-style: normal;
  transition: 0.3s;
  font-family: Tajawal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text1:hover {
  box-shadow: 5px 5px 25px 2px rgba(119, 11, 119, 0.39);
}






























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
